:root {
    --font-xl: 10vw;
}

html {
    margin: 1%;
}

h1 {

    font-size: var(--font-xl);
    word-wrap: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.mySelect__value-container{
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content;
    font-size: var(--font-xl)
   }